
<form action="/checkout" method="POST" >
  <p><label> for="item[name]">Item: </label>
       <input type="text" id="item[name]" name="item[name]"></p><br>
  <button type="submit" value="submit">Submit</button>
</form>
